img{
    align-content: center;
    align-items: center;
    
    padding-top: 0px;
}
.main{

    background-image: url("/img/frontpage.jpg");
}
@media only screen and (max-width: 600px) {
    img{
        padding: 0px;
        width: 100%;
    }

}