h1{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #00fafa;
}
p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #00fafa;
    font-family: Georgia, serif;
}
.main{

    background-image: url("/img/frontpage.jpg");
}
.text{
    padding: 50px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    background-color: rgba(55, 55, 55, 0.7);
}
@media only screen and (max-width: 600px) {
    .text{
        padding: 5px;
        margin-left: 1%;
        margin-right: 1%;

    }

    p{
        font-size: 15px;
    }

}